@media(min-width:320px){
    .slider-none, .gradient-none{
        display: none;
    }
    .mobile-menu{
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #ffffff;
        .logo-mini{
            display: flex;
            justify-content: center;
            margin-top: 16px;}
    }
    .show-menu{
        display: block;
    }
    .link-container{
        margin-top: 15px;
    }
    .container{
        display: flex;
        justify-content: center;
        height: 54px;
        background: #F5F5FA;
        margin-bottom: 1px;
    }
    .container-active{
        background: #EDEDF7;
        .links:hover, .links:active{
            color: #F0145A;
        }
    }
    .links{
        text-decoration: none;
        color: #24A3FF;
        font-size: 24px;
        text-align: center;
        font-weight: bold;
    }

        .burger-close{
           position: absolute;
           top: 12px;
           right: 12px;
           margin-left: 338px;
            width: 32px;
            height: 32px;
            background-color:transparent;
            border: none;
        }
         .burger-close::before, 
         .burger-close::after{
             content: "";
             position: absolute;
             top: 14px;
             right: 7px;
             width: 18px;
             height: 2px;
             background-color: #EC6F5D; 
         }
         .burger-close::before{
             content: "";
             transform: rotate(45deg);
         }
         .burger-close::after{
             content: "";
             transform: rotate(-45deg);
         }
         .burger-close:hover, .burger-close-active{
            background: #EDEDF7;
            border-radius: 12px;
         }
}