@media (min-width: 320px) {
    .slider-none, .gradient-none {
      display: none;
    }
    .mobile-menu {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: #ffffff;
    }
    .mobile-menu .logo-mini {
      display: flex;
      justify-content: center;
      margin-top: 16px;
    }
    .show-menu {
      display: block;
    }
    .link-container {
      margin-top: 15px;
    }
    .container {
      display: flex;
      justify-content: center;
      height: 54px;
      background: #F5F5FA;
      margin-bottom: 1px;
    }
    .container-active {
      background: #EDEDF7;
    }
    .container-active .links:hover, .container-active .links:active {
      color: #F0145A;
    }
    .links {
      text-decoration: none;
      color: #24A3FF;
      font-size: 24px;
      text-align: center;
      font-weight: bold;
    }
    .burger-close {
      position: absolute;
      top: 12px;
      right: 12px;
      margin-left: 338px;
      width: 32px;
      height: 32px;
      background-color: transparent;
      border: none;
    }
    .burger-close::before,
    .burger-close::after {
      content: "";
      position: absolute;
      top: 14px;
      right: 7px;
      width: 18px;
      height: 2px;
      background-color: #EC6F5D;
    }
    .burger-close::before {
      content: "";
      transform: rotate(45deg);
    }
    .burger-close::after {
      content: "";
      transform: rotate(-45deg);
    }
    .burger-close:hover, .burger-close-active {
      background: #EDEDF7;
      border-radius: 12px;
    }
  }
  
  @media (min-width: 320px) {
    .cases {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 20px 20px 30px 20px;
    }
    .flex-container1, .flex-container2 {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      justify-content: center;
    }
    .united-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .card-label {
      background: #F5F5FA;
      box-sizing: border-box;
      border-radius: 12px 0px 0px 0px;
      margin-bottom: 2px;
    }
    .cases-label {
      font-size: 14px;
      text-transform: uppercase;
      color: #F0145A;
      margin: 20px 0px 20px 20px;
    }
    .cases-card {
      background: #F5F5FA;
      width: 100%;
      margin-bottom: 2px;
    }
    .flex-container2 .cases-card:last-child {
      border-radius: 0px 0px 12px 12px;
      margin-bottom: 0;
    }
    .cases-text {
      margin: 20px 20px 57px 20px;
      font-size: 18px;
      color: #686887;
    }
    .cases-text::after {
      content: "";
      font-size: 18px;
      color: #B3B3BA;
      top: 93px;
      left: 21px;
    }
    .text-3dlook::after, .text-adtelligent::after, .text-hillel::after, .text-clikky::after,
    .text-tapgerine::after, .text-wannabiz::after {
      position: relative;
      top: 10px;
      white-space: pre;
    }
    .text-hillel::after {
      content: "\AHillel IT School";
      white-space: pre;
    }
    .text-wannabiz::after {
      content: "\AWannaBiz";
    }
    .text-tapgerine::after {
      content: "\ATapgerine";
    }
    .text-3dlook::after {
      content: "\A 3D LOOK";
    }
    .text-adtelligent::after {
      content: "\A Adtelligent";
    }
    .text-clikky::after {
      content: "\A Clikky";
    }
  }
  
  @media (min-width: 1024px) {
    .cases {
      margin: 40px 60px 30px 60px;
    }
    .flex-container1, .flex-container2 {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }
    .cases-card {
      margin-right: 2px;
    }
    .cases-card:last-child {
      margin-bottom: 2px;
      margin-right: 0;
    }
    .flex-container1 .cases-card:nth-child(1) {
      width: 32%;
    }
        .flex-container1 .cases-card:nth-child(1) .cases-text {
      margin: 48px 20px 66px 20px;
    }
    .flex-container1 .cases-card:nth-child(3) {
      width: 32%;
      border-radius: 0px 12px 0px 0px;
    }
    .flex-container1 .cases-card:nth-child(3) .cases-text {
      margin: 105px 20px 66px 20px;
    }
    .flex-container1 .cases-card:nth-child(2) {
      width: 36%;
    }
    .flex-container1 .cases-card:nth-child(2) .cases-text {
      margin: 105px 20px 66px 20px;
    }
    .flex-container2 .cases-card:nth-child(3) {
      width: 42%;
      border-radius: 0px 0px 12px 0px;
    }
    .flex-container2 .cases-card:nth-child(3) .cases-text {
      margin: 76px 20px 66px 20px;
    }
    .flex-container2 .cases-card:nth-child(1) {
      width: 26%;
      border-radius: 0px 0px 0px 12px;
    }
    .flex-container2 .cases-card:nth-child(1) .cases-text {
      margin: 20px 20px 66px 20px;
    }
    .flex-container2 .cases-card:nth-child(2) {
      width: 32%;
    }
    .flex-container2 .cases-card:nth-child(2) .cases-text {
      margin: 76px 20px 66px 20px;
    }
    .cases-text {
      font-size: 24px;
    }
    .flex-container1 .united-card {
      width: 32%;
      margin-right: 2px;
    }
    .flex-container1 .united-card .cases-card {
      width: 100%;
    }
  }
  
  @media (min-width: 320px) {
    .publication {
      margin-bottom: 23px;
      background: #F5F5FA;
    }
    .publication-content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-left: 0;
      margin-right: 0;
    }
    .publicaton-heading {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin: 20px 0px 20px 20px;
      position: relative;
    }
    .publication-link {
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase;
      color: #24A3FF;
      text-decoration: none;
    }
    .publication-link::after, .publication-vector::after, .publication-img::before, .equity::before,
    .milenial::before, .publication-card-title::before, .publication-card-date::after {
      content: "";
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .publication-link::after {
      position: absolute;
      top: 3px;
      left: 83px;
      width: 12px;
      height: 12px;
    }
    .publication-vector::after {
      background-image: url(../img/service-mem/blue-vector.svg);
      width: 5px;
      height: 9px;
      background-position: center;
      background-repeat: no-repeat;
    }
    .publication-title {
      font-family: "TT-Norms-Bold";
      font-size: 32px;
      background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .publication-cards {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    .publication-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .publication-container:nth-child(1) .publication-card:nth-child(1) {
      order: 1;
    }
    .publication-container:nth-child(1) .publication-card:nth-child(2) {
      order: 3;
    }
    .publication-container:nth-child(2) .publication-card:nth-child(1) {
      order: 2;
    }
    .publication-container:nth-child(2) .publication-card:nth-child(2) {
      display: none;
    }
    .publication-container:nth-child(3) {
      display: none;
    }
    .publication-container:nth-child(3) .publication-card {
      margin-right: 0;
    }
    .publication-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: #FFFFFF;
      border-radius: 8px;
      margin: 0px 20px 20px 20px;
    }
    .publication-container:nth-child(2) .publication-card:nth-child(1) {
      margin-bottom: 0;
    }
    .publication-card-title, .public-card-title {
      font-size: 18px;
      color: #24A3FF;
      margin: 20px 20px 10px 20px;
    }
    .publication-card-date {
      font-size: 12px;
      color: #B3B3BA;
      font-weight: bold;
      margin: 0px 20px 20px 20px;
    }
    .publication-card-text {
      display: none;
    }
    .publication-card-title::before {
      min-width: 335px;
      min-height: 188px;
      max-height: 233px;
      border-radius: 8px 8px 0px 0px;
      margin-bottom: 20px;
    }
    .publication-img::before {
      display: flex;
      align-items: stretch;
      position: relative;
      background-size: cover;
      left: -20px;
      margin-top: -20px;
      margin-right: -40px;
      min-width: 268px;
      height: 188px;
      border-radius: 8px 8px 0px 0px;
    }
    .equity::before {
      background-image: url(../img/service-mem/publication-img-equity.svg);
    }
    .milenial::before {
      background-image: url(../img/service-mem/publication-img-milenial.svg);
      background-position: top;
    }
    .more-publication {
      width: 250px;
      height: 50px;
      position: relative;
      background: #24A3FF;
      box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
      border-radius: 12px;
      font-size: 14px;
      color: #FFFFFF;
      text-align: center;
      border: none;
      margin-bottom: 40px;
    }
    .btn-center {
      display: flex;
      justify-content: center;
      margin-top: 40px;
    }
  }
  
  @media (min-width: 768px) {
    .publication-cards {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    .publicaton-heading {
      display: flex;
      flex-direction: column;
      margin: 40px 0px 40px 59px;
    }
    .publication-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      bottom: 0;
    }
    .publication-container {
      display: flex;
      flex-direction: column;
      width: 30%;
    }
    .publication-container:nth-child(1) {
      margin-left: 0;
    }
    .publication-container:nth-child(1) .publication-card:nth-child(2) .publication-card-text {
      height: 45px;
      overflow: hidden;
    }
    .publication-container:nth-child(2) {
      justify-content: start;
    }
    .publication-container:nth-child(2) .publication-card:nth-child(1) {
      order: 0;
    }
    .publication-container:nth-child(2) .publication-card:nth-child(2) {
      display: block;
    }
    .publication-container:nth-child(2) .publication-card:nth-child(2) .publication-card-date, .publication-container:nth-child(2) .publication-card:nth-child(2) .publication-card-text {
      display: none;
    }
    .publication-container:nth-child(3) {
      display: block;
      margin-right: 0;
    }
    .publication-container:nth-child(3) .publication-card:nth-child(2) .publication-card-date, .publication-container:nth-child(3) .publication-card:nth-child(2) .publication-card-text {
      display: none;
    }
    .publication-card {
      margin: 20px 20px 0px 0px;
      justify-content: center;
    }
    .publication-cards {
      bottom: 0;
    }
    .publication-card-text {
      display: block;
      font-size: 16px;
      color: #000000;
      margin: 0px 20px 20px 20px;
    }
    .publication-img::before {
      display: flex;
      align-items: stretch;
      position: relative;
      background-size: cover;
      left: -20px;
      margin-top: -20px;
      margin-right: -40px;
      min-width: 100px;
      height: 188px;
      border-radius: 8px 8px 0px 0px;
    }
    .public-card {
      height: auto;
    }
    .gdpr::before {
      background-image: url(../img/service-mem/publication-img-gdpr.svg);
    }
    .statue::before {
      background-image: url(../img/service-mem/publication-img-state.svg);
      background-size: cover;
    }
    .music::before {
      background-image: url(../img/service-mem/publication-img-music.svg);
    }
    .publication-card-date::after {
      content: "";
      margin: 20px 20px 0px 0px;
      display: block;
      width: 100%;
      height: 4px;
      background: #E6E6F0;
    }
    .public-shade {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 200px;
      background: linear-gradient(180deg, rgba(245, 245, 250, 0) 0%, #F5F5FA 86.5%);
    }
    .btn-center {
      margin-top: 0;
    }
    .more-publication {
      position: absolute;
      bottom: 10px;
    }
  }
  
  @media (min-width: 1024px) {
    .publication {
      margin-bottom: 0;
    }
    .publicaton-heading {
      display: flex;
    }
        .publication-content {
      justify-content: center;
    }
    .publication-cards {
      margin: 0px;
    }

    .publication-card {
      justify-content: center;
    }
    .publication-container {
      width: 30%;
    }
    .publication-title {
      font-size: 42px;
    }
    .publicaton-heading {
      margin: 40px 0px 40px 59px;
    }
    .publication-container:nth-child(1) .publication-card:nth-child(2) {
      overflow: hidden;
    }
    .publication-container:nth-child(3) .publication-card:nth-child(1) {
      margin-right: 0;
    }
    .publication-container:nth-child(3) .publication-card:nth-child(2) {
      margin-right: 0;
    }
    .public-shade {
      bottom: 0;
    }
  }
  
  @media (min-width: 320px) {
    .footer-content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-top: 23px;
      margin-bottom: 118px;
      position: relative;
    }
    .footer-contacts {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: 0px 20px 20px 20px;
      min-width: 320px;
      margin-left: auto;
      margin-right: auto;
    }
    .address-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 20px;
    }
    .address-footer, .tel-footer {
      font-size: 16px;
      font-style: normal;
      color: #323264;
      text-align: center;
      font-weight: bold;
    }
    .address-footer {
      margin-bottom: 10px;
    }
    .address-link {
      font-weight: bold;
      font-size: 12px;
      text-transform: uppercase;
      color: #24A3FF;
      text-decoration: none;
      text-align: center;
    }
    .address-link:hover, .mail:hover {
      color: #F0145A;
    }
    .footer-inform {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 20px;
    }
    .footer-facebook {
      background-image: url(../img/service-mem/facebook-blue.svg);
      width: 38px;
      height: 38px;
      background-position: center;
      background-repeat: no-repeat;
      margin-bottom: 20px;
      position: relative;
      left: 48%;
    }
    .tel-footer {
      text-decoration: none;
      margin-bottom: 20px;
      text-align: center;
    }
    .mail {
      text-decoration: none;
      font-size: 16px;
      color: #24A3FF;
      text-align: center;
    }
    .hlegals-about {
      display: flex;
      justify-content: center;
      margin: 0px 20px 0px 20px;
    }
    .hlegals-about-text {
      font-size: 16px;
      color: #B3B3BA;
      text-align: center;
    }
    .footer-content::before {
      content: "";
      position: absolute;
      top: -22px;
      margin: 0px 20px 30px 20px;
      display: block;
      width: 95%;
      height: 4px;
      background: #E6E6F0;
    }
  }
  
  @media (min-width: 1024px) {
    .footer {
      position: relative;
      width: 100%;
    }
    .footer-contacts {
      margin: 0px 0px 0px 40px;
      justify-content: flex-start;
    }
    .footer-content {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      margin-left: 0;
      margin-top: 20px;
      margin-bottom: 40px;
      width: 100%;
    }
    .address-container {
      flex-direction: row;
      justify-content: space-around;
      margin-top: 20px;
    }
    .address-footer {
      text-align: start;
      margin-right: 47px;
    }
        .address-link {
      vertical-align: bottom;
      margin-top: 2px;
    }
    .footer-inform {
      flex-direction: row;
      margin-bottom: 0;
    }
    .footer-facebook {
      position: relative;
      margin-right: 12px;
      left: -12px;
      bottom: 10px;
      margin-bottom: 0;
    }
    .tel-footer {
      margin-right: 26px;
      margin-bottom: 0;
    }
    .mail {
      margin-bottom: 0;
    }
    .point-gray::after {
      content: "";
      background-image: url(../img/service-mem/point-gray.svg);
      background-repeat: no-repeat;
      background-position: center;
      width: 6px;
      height: 6px;
      padding-right: 10px;
    }
    .address-footer::after {
      content: "";
      position: relative;
      left: 33px;
    }
    .footer-facebook::after {
      content: "";
      position: relative;
      left: 48px;
      top: 10px;
    }
    .tel-footer::after {
      content: "";
      position: relative;
      left: 15px;
    }
    .hlegals-about {
      margin: 20px 60px 0px 0px;
    }
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  a{
    text-decoration: none;
  }
  body {
    color: #ffffff;
    font-family: "TT-Norms";
  }
  
  @media (min-width: 320px) {
    .it {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-image: url(../img/service-mem/bg-servisesit.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }
    .header {
      margin-bottom: 20px;
    }
    .header-content .inform {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      margin-bottom: 10px;
    }
    .tel {
      position: absolute;
      top: 22px;
      right: 20px;
      font-size: 16px;
      font-weight: bold;
    }
    .menu {
      display: none;
    }
    .address {
      display: none;
    }
    .ua, .ru, .en, .tel {
      color: #ffffff;
      text-decoration: none;
    }
    .ua, .ru, .en {
      padding: 5px;
      text-transform: uppercase;
      font-size: 12px;
    }
    .active, .ua:hover, .ru:hover, .en:hover {
      width: 29px;
      height: 24px;
      border-radius: 8px;
      background: #F0145A;
      color: #ffffff;
    }
    .active {
      background: #F0145A;
    }
    .ua:hover, .ru:hover, .en:hover {
      background: #EDEDF7;
      color: #B3B3BA;
    }
    .logo {
      display: flex;
      justify-content: space-between;
    }
    .logo .logo-img {
      height: 31px;
      width: 208px;
    }
    .logo .burger {
      background-image: url(../img/service-mem/mobile-menu.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-color: transparent;
      border: none;
      width: 32px;
      height: 32px;
    }
    .logo .burger:hover {
      border-radius: 12px;
      background: #EDEDF7;
    }
    .it-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 20px;
      margin: 0px 20px 43px 20px;
    }
    .electronic-it {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .it-content {
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 40px;
    }
    .it-title {
      background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 32px;
      font-family: "TT-Norms-Bold";
      margin-bottom: 20px;
    }
    .it-title::before {
      content: "";
      display: block;
      width: 64px;
      height: 64px;
      background: #FFFFFF;
      border-radius: 24px;
      margin-bottom: 20px;
    }
    .bag::before {
      content: "";
      width: 92px;
      height: 92px;
      min-width: 64px;
      background-image: url(../img/service-mem/shopping.svg);
      background-position: center;
      background-repeat: no-repeat;
    }
    .it-text {
      font-size: 21px;
      margin-bottom: 40px;
    }
    .consultation {
      width: 250px;
      height: 50px;
      position: relative;
      background: #24A3FF;
      box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
      border-radius: 12px;
      font-size: 14px;
      color: #FFFFFF;
      text-align: center;
      border: none;
    }
    .btn-center {
      display: flex;
      justify-content: center;
    }
    .it-services {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    .services-title {
      font-size: 18px;
      margin-bottom: 10px;
    }
    .services-title::before {
      content: "";
      margin-bottom: 20px;
      display: block;
      width: 100%;
      height: 4px;
      background: #E6E6F0;
    }
    .services-list-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-left: 25px;
      align-items: stretch;
    }
    .services-list {
      position: relative;
    }
    .list {
      list-style-type: none;
      font-size: 18px;
      margin-bottom: 15px;
      position: relative;
    }
    .list:last-child {
      margin-bottom: 0;
    }
    .list::before {
      content: "";
      position: absolute;
      left: -13px;
      top: 13px;
    }
    .list-point::before {
      content: "";
      background-image: url(../img/service-mem/point-red.svg);
      width: 6px;
      height: 6px;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
    }
  }
  
  @media (min-width: 1024px) {
    .it-wrapper {
      min-width: 1024px;
      margin-left: 60px;
      margin-right: 60px;
    }
    .it {
      align-items: center;
    }
    .logo .logo-img {
      height: 63px;
      width: 413px;
    }
    .logo .burger {
      display: none;
    }
    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: relative;
      padding-top: 50px;
      margin-bottom: 50px;
    }
    .header-content {
      display: flex;
      flex-direction: row-reverse;
      order: 2;
      position: relative;
      min-width: 550px;
    }
    .inform {
      display: flex;
      flex-direction: row;
    }
    .facebook {
      background-image: url(../img/service-mem/facebook.svg);
      width: 24px;
      height: 24px;
      position: relative;
      bottom: 5px;
    }
    .lang {
      margin-right: 20px;
    }
    .point::after {
      content: "";
      background-image: url(../img/service-mem/point.svg);
      background-repeat: no-repeat;
      background-position: center;
      width: 6px;
      height: 6px;
      padding-right: 13px;
    }
    .lang::after, .address::after, .tel::after {
      content: "";
      position: absolute;
    }
    .lang::after {
      right: 415px;
      top: 8px;
    }
    .address::after {
      right: 190px;
      top: 8px;
    }
    .tel::after {
      right: 25px;
      top: 8px;
    }
    .ua, .ru, .en, .tel, .links {
      color: #ffffff;
    }
    .address {
      display: block;
      margin-right: 20px;
      font-size: 16px;
      font-style: normal;
    }
    .tel {
      position: static;
      margin-right: 26px;
    }
    .links {
      font-size: 18px;
      margin-right: 15px;
      font-weight: lighter;
    }
    .links:last-child {
      margin-right: 0;
    }
    .menu {
      display: flex;
      flex-wrap: nowrap;
      position: absolute;
      top: 94px;
      right: 0;
      order: 2;
    }
    .menu-active {
      text-decoration: underline;
    }
    .heading {
      display: flex;
      justify-content: flex-start;
    }
    .it-wrapper {
      width: 100%;
      align-items: center;
    }
    .electronic-it {
      margin: 50px 0px 80px 0px;
      align-items: center;
    }
    .it-content {
      align-items: center;
      text-align: center;
      margin-bottom: 100px;
      width: 863px;
    }
    .it-text {
      text-align: center;
    }
    .bag::before {
      position: relative;
      left: 40%;
    }
    .services-title {
      margin-bottom: 20px;
    }
    .services-list-container {
      margin-left: 0;
      flex-direction: row;
      max-width: 1050px;
      min-width: 900px;
    }
    .services-list {
      width: 50%;
      margin-right: 64px;
    }
    .services-list:last-child {
      margin-right: 0;
    }
  }
  
  @font-face {
    font-family: "TT-Norms";
    src: url(../fonts/TTNorms/TTNorms-Regular.otf);
  }
  
  @font-face {
    font-family: "TT-Norms-Bold";
    src: url(../fonts/TTNorms/TTNorms-Bold.otf);
  }
  
