@media (min-width: 320px) {

    .slider-none, .gradient-none {
      display: none;
    }

    .mobile-menu {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: #ffffff;
    }

    .mobile-menu .logo-mini {
      display: flex;
      justify-content: center;
      margin-top: 16px;
    }

    .show-menu {
      display: block;
    }

    .link-container {
      margin-top: 15px;
    }

    .container {
      display: flex;
      justify-content: center;
      height: 54px;
      background: #F5F5FA;
      margin-bottom: 1px;
    }

    .container-active {
      background: #EDEDF7;
    }

    .container-active .links:hover, .container-active .links:active {
      color: #F0145A;
    }

    .links {
      text-decoration: none;
      color: #24A3FF;
      font-size: 24px;
      text-align: center;
      font-weight: bold;
    }

    .links:hover, .links:active {
      color: #F0145A;
    }
  
    .burger-close {
      position: absolute;
      top: 12px;
      right: 12px;
      margin-left: 338px;
      width: 32px;
      height: 32px;
      background-color: transparent;
      border: none;
    }

    .burger-close::before,
    .burger-close::after {
      content: "";
      position: absolute;
      top: 14px;
      right: 7px;
      width: 18px;
      height: 2px;
      background-color: #EC6F5D;
    }
 
    .burger-close::before {
      content: "";
      transform: rotate(45deg);
    }

    .burger-close::after {
      content: "";
      transform: rotate(-45deg);
    }

    .burger-close:hover, .burger-close-active {
      background: #EDEDF7;
      border-radius: 12px;
    }
  }
  
  @media (min-width: 320px) {

    .bg {
      background: #F5F5FA;
      border-radius: 12px 12px 0px 0px;
    }
 
    .achivement {
      display: flex;
      flex-direction: column;
    }

    .achivement-wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
   
    .achivement-title {
      margin: 28px 0px 30px 0px;
      font-size: 14px;
      text-align: center;
      text-transform: uppercase;
      color: #323264;
    }
 
    .achivement-cards {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
    }
   
    .images {
      width: 157px;
      height: 57px;
      margin-right: 20px;
    }
   
    .images:nth-child(2) {
      margin-right: 0;
    }
   
    .images:nth-child(3), .images:nth-child(4) {
      display: none;
    }
 
    .achivement-sliders {
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
    }

    .achivement-slider {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      margin-right: 14px;
      background-color: transparent;
      border: none;
      background: rgba(36, 163, 255, 0.2);
    }

    .achivement-slider:hover {
      background: rgba(36, 163, 255, 0.6);
    }

    .achivement-slider-active {
      background: #24a3ff;
    }
 
    .achivement-slider:last-child {
      margin-right: 0;
    }
  }
  
  @media (min-width: 1024px) {

    .achivement-wrap {
      align-items: stretch;
    }

    .achivement-cards {
      width: 100%;
    }

    .images {
      margin-right: 40px;
      width: 224px;
      height: 109px;
    }
 
    .images:nth-child(2) {
      margin-right: 40px;
    }
  
    .images:nth-child(1) {
      margin-left: 60px;
    }

    .images:nth-child(4) {
      margin-right: 60px;
    }
   
    .images:nth-child(3), .images:nth-child(4) {
      display: block;
    }
 
    .achivement-slider:nth-child(4), .achivement-slider:nth-child(5), .achivement-slider:nth-child(6) {
      display: none;
    }
  
    .achivement-sliders {
      margin-bottom: 30px;
    }
  }
  
  @media (min-width: 320px) {
  
    .footer-content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-top: 23px;
      padding-bottom: 118px;
      position: relative;
    }

    .footer-contacts {
      display: flex;
      justify-content: center;
      flex-direction: column;
      min-width: 320px;
      margin-left: auto;
      margin-right: auto;
    }
 
    .address-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 20px;
    }
   
    .address-footer, .tel-footer {
      font-size: 16px;
      font-style: normal;
      color: #323264;
      text-align: center;
      font-weight: bold;
    }

    .address-footer {
      margin-bottom: 10px;
    }

    .address-link {
      font-weight: bold;
      font-size: 12px;
      text-transform: uppercase;
      color: #24A3FF;
      text-decoration: none;
      text-align: center;
    }

    .address-link:hover, .mail:hover {
      color: #F0145A;
    }
   
    .footer-inform {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 20px;
    }

    .footer-facebook {
      background: url(../img/facebook-blue.svg);
      width: 38px;
      height: 38px;
      background-position: center;
      background-repeat: no-repeat;
      margin-bottom: 20px;
      position: relative;
      left: 48%;
    }

    .tel-footer {
      text-decoration: none;
      margin-bottom: 20px;
      text-align: center;
    }

    .mail {
      text-decoration: none;
      font-size: 16px;
      color: #24A3FF;
      text-align: center;
    }
  
    .hlegals-about {
      display: flex;
      justify-content: center;
      margin: 0px 20px 0px 20px;
    }
  
    .hlegals-about-text {
      font-size: 16px;
      color: #B3B3BA;
      text-align: center;
    }
  
    .footer-content::before {
      content: "";
      position: absolute;
      top: 0;
      margin: 0px 20px 30px 20px;
      display: block;
      width: 90%;
      height: 4px;
      background: #E6E6F0;
    }
  }
  
  @media (min-width: 1024px) {

    .footer {
      position: relative;
     
    }
   
    .footer-contacts {
      margin: 0px 0px 0px 100px;
      justify-content: flex-start;
    }
   
    .footer-content {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      margin-left: 0;
      margin-top: 20px;
      margin-bottom: 40px;
      width: 100%;
    }
  
    .address-container {
      flex-direction: row;
      justify-content: space-around;
      margin-top: 20px;
    }
    
    .address-footer {
      text-align: start;
      margin-right: 47px;
    }
   
    .address-link {
      vertical-align: bottom;
      margin-top: 2px;
    }

    .footer-inform {
      flex-direction: row;
      margin-bottom: 0;
    }
   
    .footer-facebook {
      position: relative;
      margin-right: 12px;
      left: -12px;
      bottom: 10px;
      margin-bottom: 0;
    }
  
    .tel-footer {
      margin-right: 26px;
      margin-bottom: 0;
    }
   
    .mail {
      margin-bottom: 0;
    }
   
    .point-gray::after {
      content: "";
      background: url(../img/point-gray.svg);
      background-repeat: no-repeat;
      background-position: center;
      width: 6px;
      height: 6px;
      padding-right: 10px;
    }
   
    .address-footer::after {
      content: "";
      position: relative;
      left: 33px;
    }
  
    .footer-facebook::after {
      content: "";
      position: relative;
      left: 48px;
      top: 10px;
    }
  
    .tel-footer::after {
      content: "";
      position: relative;
      left: 15px;
    }
 
    .hlegals-about {
      margin: 20px 60px 0px 0px;
    }
    
    .footer-content::before {
      content: "";
      position: absolute;
      top: -20px;
      left: 40px;
      margin: 0px 40px 30px 40px;
      display: block;
      width: 100%;
      height: 4px;
      background: #E6E6F0;
    }
  }
  
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  

  body {
    color: #000000;
    font-family: "TT-Norms";
  }
  
  @media (min-width: 320px) {
    
    .wrapper {
      min-width: 320px;
    }
   
    .about {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      padding-top: 20px;
      margin: 0px 20px 40px 20px;
    }
   
    .about-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-width: 320px;
      margin-bottom: 20px;
    }
  
    .header {
      margin-bottom: 20px;
    }
   
    .header-content .inform {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      margin-bottom: 10px;
    }
   
    .tel {
      position: absolute;
      right: 0;
      font-size: 16px;
      font-weight: bold;
    }
    
    .menu {
      display: none;
    }
 
    .address {
      display: none;
    }
  
    .ua, .ru, .en, .tel {
      color: #B3B3BA;
      text-decoration: none;
    }
 
    .ua, .ru, .en {
      padding: 5px;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
    }
  
    .active, .ua:hover, .ru:hover, .en:hover {
      width: 29px;
      height: 24px;
      border-radius: 8px;
      background: #F0145A;
      color: #ffffff;
    }
 
    .active {
      background: #F0145A;
      color: #fff;
    }
    
    .ua:hover, .ru:hover, .en:hover {
      background: #EDEDF7;
      color: #B3B3BA;
    }
  
    .logo {
      display: flex;
      justify-content: space-between;
    }
   
    .logo .logo-img {
      height: 31px;
      width: 208px;
    }
   
    .logo .burger {
      background: url(../img/burger-black.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-color: transparent;
      border: none;
      width: 32px;
      height: 32px;
    }
   
    .logo .burger:hover {
      border-radius: 12px;
      background: #EDEDF7;
    }
    
    .about-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
   
    .about-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 20px;
    }
   
    .title {
      font-size: 32px;
      font-family: 'TT-Norms-Bold';
      background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 20px;
    }
   
    .text {
      font-size: 18px;
    }
  
    .team-img {
      min-width: 375px;
      max-width: 1024px;
      height: 290px;
      object-fit: contain;
    }
    
    .about-inform {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 34px;
      position: relative;
    }
  
    .about-inform::before {
      content: "";
      height: 4px;
      background: #E6E6F0;
      margin-bottom: 15px;
    }
   
    .inform-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-bottom: 20px;
      position: relative;
    }
   
    .inform-container:first-child {
      margin-top: 15px;
    }
   
    .inform-container:last-child {
      margin-bottom: 0;
    }
    
    .inform-title {
      background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 36px;
      font-family: "TT-Norms-Bold";
      margin-bottom: 10px;
      margin-left: 38px;
    }
   
    .inform-title::before {
      content: "";
      width: 23px;
      height: 26px;
      position: absolute;
      left: 0px;
      top: 7px;
    }
 
    .flag::before, .bag::before, .star::before {
      content: "";
      width: 32px;
      height: 32px;
      background-position: center;
      background-repeat: no-repeat;
    }
 
    .flag::before {
      background-image: url(../img/flag.svg);
    }
  
    .bag::before {
      background-image: url(../img/bag.svg);
    }
 
    .star::before {
      background-image: url(../img/star.svg);
    }

    .inform-text {
      font-size: 18px;
      color: #323264;
    }
 
    .img-container {
      min-width: 100%;
      background-image: url(../img/team.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
   
    }

    .img-text {
      margin-top: 124px;
      margin-bottom: 124px;
      font-size: 36px;
      text-align: center;
      letter-spacing: 20px;
      text-transform: uppercase;
      font-family: "TT-Norms-Bold";
      color: rgba(255, 255, 255, 0.8);
      text-shadow: 0px 15px 30px rgba(40, 40, 86, 0.8);
    }
   
    .content-text {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    
    .text {
      font-size: 18px;
      margin-bottom: 20px;
    }
   
    .title:nth-child(2) {
      margin-bottom: 0;
    }
  }
  
  @media (min-width: 1024px) {
  
    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0;
    }
   
    .about {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      margin: 0;
    }
  .about-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 0;
      margin: 0;
    }

    .logo .logo-img {
      height: 63px;
      width: 413px;
    }
   
    .logo .burger {
      display: none;
    }
   
    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: relative;
      margin-bottom: 80px;
    }
 
    .header-content {
      display: flex;
      flex-direction: row-reverse;
      order: 2;
      position: relative;
      min-width: 550px;
    }
  
    .inform {
      display: flex;
      flex-direction: row;
    }
    
    .facebook {
      background: url(../img/facebook-grey.svg);
      width: 24px;
      height: 24px;
      position: relative;
      bottom: 5px;
    }
  
    .lang {
      margin-right: 20px;
    }
  
    .point::after {
      content: "";
      background: url(../img/point.svg);
      background-repeat: no-repeat;
      background-position: center;
      width: 6px;
      height: 6px;
      padding-right: 13px;
    }
  
    .lang::after, .address::after, .tel::after {
      content: "";
      position: absolute;
    }
 
    .lang::after {
      right: 415px;
      top: 8px;
    }
   
    .address::after {
      right: 190px;
      top: 8px;
    }
   
    .tel::after {
      right: 25px;
      top: 8px;
    }
    
    .ua, .ru, .en, .tel {
      color: #B3B3BA;
    }
  
    .address {
      display: block;
      margin-right: 20px;
      font-size: 16px;
      font-style: normal;
      color: #B3B3BA;
    }
  
    .tel {
      position: static;
      margin-right: 26px;
    }
   
    .links {
      font-size: 18px;
      margin-right: 15px;
      color: #24A3FF;
    }

    .links:last-child {
      margin-right: 0;
    }
 
    .menu {
      display: flex;
      flex-wrap: nowrap;
      position: absolute;
      margin-right: 20px;
      top: 40px;
      right: 0;
      order: 2;
    }

    .menu-active {
      text-decoration: underline;
      color: #F0145A;
    }
  
    .links:hover {
      color: #F0145A;
    }

    .active {
      background: #F0145A;
      color: #fff;
    }

    .content-wrap {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: start;
      position: relative;
      margin-bottom: 100px;
    }
  
    .main-inform-container {
      display: flex;
      flex-direction: column;
    }

    .about-inform {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      max-width: 400px;
    }
   
    .about-inform::before {
      position: relative;
      width: 4px;
      height: 270px;
      margin-left: 42px;
      margin-right: 20px;
      top: 5px;
    }
  
    .main-inform-container {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
    }

    .inform-container:first-child {
      margin-top: 0;
    }
  
    .about-text {
      max-width: 490px;
    }
  
    .img-text {
      letter-spacing: 63px;
      font-size: 96px;
      margin-top: 163px;
      margin-bottom: 163px;
    }
  
    .img-container {
      margin-left: -20px;
      margin-right: -20px;
    }

    .content-text {
      flex-direction: row;
      margin-top: 80px;
      margin-bottom: 93px;
    }
  
    .content-text .text {
      max-width: 550px;
      margin-right: 40px;
    }
   
    .content-text .title {
      max-width: 320px;
    }
  }
  
  @font-face {
    font-family: "TT-Norms";
    src: url(../fonts/TTNorms/TTNorms-Regular.otf);
  }
  
  @font-face {
    font-family: "TT-Norms-Bold";
    src: url(../fonts/TTNorms/TTNorms-Bold.otf);
  }
  
